In [3]:
import os

In [4]:
print(os.getcwd())

C:\Users\user

In [5]:
print(os.path.exists(r'C:\Users\user\Desktop\spotify_millsongdata.csv'))

True

In [6]:
import pandas as pd

In [7]:
 df = pd.read_csv(r'C:\Users\user\Desktop\spotify_millsongdata.csv')

In [8]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [9]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [10]:
df.shape

(57650, 4)

In [11]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [12]:
df = df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [13]:
df.head(10)

,artist,song,text
0,Uriah Heep,All God's Children,Crazy little whirlwind child \r\nPretty babie...
1,Faith Hill,It Matters To Me,Baby tell me where'd you ever learn \r\nTo fi...
2,Scorpions,Media Overkill,They're watching me \r\nThey're watching you ...
3,Natalie Cole,Ev'ry Time We Say Goodbye,"Everytime we say goodbye, I die a little, \r\..."
4,Reo Speedwagon,Every Now And Then,Every now and then when the lights are low \r...
5,Cliff Richard,Ocean Deep,"Love, can't you see I'm alone \r\nCan't you g..."
6,The Killers,Under The Gun,She's got her halo and wings \r\nHidden under...
7,Elvis Costello,Deep Dark Truthful Mirror,One day you're going to have to face \r\nA de...
8,X-Ray Spex,Good Time Girl,I don't want to be? I don't want to be \r\nA ...
9,Gino Vannelli,Summers Of My Life,The sea is sad the world is stray \r\nThe lov...

In [14]:
df['text'][0]

"Crazy little whirlwind child  \r\nPretty babies drive ya wild  \r\nLook like one, act like another  \r\nEvery night a different lover  \r\nGet affection where you can  \r\nTry a boy then try a man  \r\nFirst time love is in the past  \r\nMake it young and make it fast  \r\nAll god's children will have their say  \r\nAll god's children  \r\nMust have their way  \r\nIt's a game where you can cheat  \r\nLovers falling at your feet  \r\nHigh on sensuality  \r\nA photograph for all to see  \r\nFirst time love is in the past  \r\nMake it young and make it fast  \r\nThey can never get enough  \r\nStrong as death and sweet as love  \r\nThey walk and talk like angels  \r\nThey walk and talk like angels ...  \r\n\r\n"

In [15]:
df = df.sample(5000)

In [16]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [17]:
 df ['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [18]:
df.tail(5)

,artist,song,text
4691,HIM,Like St. Valentine,in the name of love lost \r i'm frozen to her...
1874,Ozzy Osbourne,Crazy Babies,crazy \r babies \r \r crazy babies never s...
2233,Hillsong United,I Know It,"i know it, i know it \r his blood has set me ..."
2920,John Denver,Hey Old Pal,this song was first released on the rocky moun...
1320,Marianne Faithfull,Good Guy,(bert's blues) \r i've been looking for a goo...

In [19]:
#import nltk 
#nltk.download('punkt_tab')

In [20]:
import nltk
from nltk.stem.porter import PorterStemmer

In [21]:
stemmer = PorterStemmer()

In [22]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a = [stemmer.stem(w) for w in token]
    return " ".join(a)

In [23]:
token("you are beatutiful, beauty")

'you are beatuti , beauti'

In [24]:
df['text'].apply(lambda x: token(x))

4816    if time itself wa hi demeanor there 'd be no s...
4923    there 's a black man with a black cat live in ...
2467    my funni valentin , sweet comic valentin you m...
610     i have to sit down for ok , we 'll , we 'll do...
3680    oh , you drive me crazi . i ca n't stop the wa...
                              ...
4691    in the name of love lost i 'm frozen to her an...
1874    crazi babi crazi babi never say die born to li...
2233    i know it , i know it hi blood ha set me free ...
2920    thi song wa first releas on the rocki mountain...
1320    ( bert 's blue ) i 've been look for a good gu...
Name: text, Length: 5000, dtype: object

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [26]:
tfidf = TfidfVectorizer(analyzer='word', stop_words='english')

In [27]:
matrix = tfidf.fit_transform(df['text'])

In [28]:
 similer = cosine_similarity(matrix)

In [29]:
similer[0]

array([1.        , 0.02235388, 0.        , ..., 0.0201999 , 0.02825723,
       0.02515753], shape=(5000,))

In [31]:
df[df['song']=='Like St. Valentine'].index[0]

np.int64(4691)

Recommender Function

In [42]:
def recommender(song_name, top_n=10):
    idx = df[df['song'] == song_name].index[0]
    distance = list(enumerate(similer[idx]))
    distance = sorted(distance, reverse=True, key=lambda x: x[1])
    
    recommendations = []
    for s_id, score in distance[1:top_n+1]:
        recommendations.append((df.iloc[s_id].song, round(float(score), 4)))  
    return recommendations

In [43]:
recommender("Like St. Valentine", top_n=5)

[('Walk On By', 0.3953),
 ("Two Out Of Three Ain't Bad", 0.3425),
 ('Good Times', 0.3055),
 ('Talk Talk', 0.3047),
 ('Atmosphere', 0.3006)]

In [39]:
import pickle
pickle.dump(similer, open("similer.pkl", "wb"))
pickle.dump(df, open("df.pkl", "wb"))